.choose-tariffs {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  &__element {
    display: grid;
    grid-template-columns: 26.4rem auto 25.8rem;
    padding: 3.6rem 4rem;
    border: 0.2rem solid #fff;
    border-radius: 4rem;
    &:hover {
      background-color: #fff;
      transition: background-color 0.25s ease-in-out;
      .choose-tariffs {
        &__btn {
          .component--green-btn {
            background-color: #000;
            transition: background-color 0.25s ease-in-out;
          }
        }
      }
    }
    &._active {
      background-color: #fff;
      .choose-tariffs {
        &__btn {
          .component--green-btn {
            background-color: #000;
          }
        }
      }
    }
  }
  &__description {
    display: flex;
    gap: 4rem;
    padding: 0 4rem;
    border-left: 1px solid $green-color;
    border-right: 1px solid $green-color;
    .description {
      &__box {
        display: flex;
        align-items: center;
        gap: 1.6rem;
      }
    }
  }
  &__btn {
    justify-self: flex-end;
    .component--green-btn {
      width: 21.8rem;
    }
  }
}
@media (max-width: 48em) {
  .choose-tariffs {
    &__element {
      display: flex;
      gap: 4rem;
      flex-direction: column;
      padding: 4rem 3rem;
    }
    &__description {
      flex-direction: column;
      padding: 4rem 0;
      border-left: none;
      border-right: none;
      border-top: 0.5px solid $green-color;
      border-bottom: 0.5px solid $green-color;
    }
    &__btn {
      .component--green-btn {
        width: fit-content;
      }
    }
  }
}
