.our-teams {
  // пусто
  &__controls {
    margin-top: 1rem;
  }
}

@media (max-width: 48em) {
  .our-teams {
    &__container {
      padding-right: 0;
      padding-left: 0;
    }
    &__controls {
      display: none;
    }
  }
}
