.our-clients {
  &__swiper {
    &._mob {
      display: none;
    }
  }
}
@media (max-width: 48em) {
  .our-clients {
    &__swiper {
      &._desc {
        display: none;
      }
      &._mob {
        display: block;
      }
    }
    &__controls {
      display: none;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 10rem;
      margin-bottom: 8rem;
    }
  }
}
