.what-includes {
  &__head {
    width: 105.5rem;
    margin-bottom: 6rem;
  }
  &__title {
    font-family: NeueMachina;
    margin-bottom: 2.2rem;
  }
  &__text {
    width: 63.8rem;
  }
  &__content {
    display: grid;
    grid-template-columns: 125rem auto;
    gap: 4rem;
    .content {
      &-right {
        &__text {
          margin-bottom: 5rem;
        }
      }
    }
  }
  &__link {
    .component--arrow-btn {
      .arrow-btn {
        &__text {
          color: $grey-color;
        }
      }
    }
  }
  &-swiper {
    margin-bottom: 4rem;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__slide {
    width: 39rem;
    height: 26.4rem;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &._v1 {
      &::before {
        background: url('../img/sections/what-includes/what-includes-bg-v1.webp')
          center center no-repeat;
        background-size: contain;
      }
    }
    &._v2 {
      &::before {
        background: url('../img/sections/what-includes/what-includes-bg-v2.webp')
          center center no-repeat;
        background-size: contain;
      }
    }
    &._v3 {
      &::before {
        background: url('../img/sections/what-includes/what-includes-bg-v3.webp')
          center center no-repeat;
        background-size: contain;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform: scale(1);
      transition: transform 0.5s;
      z-index: -1;
    }
    &:hover::before {
      transform: scale(1.1);
    }
    .what-includes-swiper {
      &__icon {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        img {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
      &__text {
        color: $white-color;
        width: fit-content;
        padding: 0.8rem 2.4rem;
        border-radius: 50px;
        border: 1px solid $white-color;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(27.5px);
      }
    }
  }
}

@media (max-width: 48em) {
  .what-includes {
    &__head {
      width: 100%;
      margin-bottom: 8rem;
    }
    &__title {
      margin-bottom: 4rem;
    }
    &__text {
      width: 100%;
    }
    &__content {
      grid-template-columns: 71rem;
      gap: 10rem;
      .content {
        &-right {
          &__text {
            margin-bottom: 4rem;
          }
        }
      }
    }
    &__controls {
      display: none;
    }
    &-swiper {
      margin-bottom: 4rem;
    }
    &__slide {
      width: 58rem;
      height: 52.8rem;
      border-radius: 4rem;
      padding: 2rem;
      &._v1 {
        &::before {
          background: url('../img/sections/what-includes/what-includes-bg-v1.webp')
            center center no-repeat;
          background-size: cover;
        }
      }
      &._v2 {
        &::before {
          background: url('../img/sections/what-includes/what-includes-bg-v2.webp')
            center center no-repeat;
          background-size: cover;
        }
      }
      &._v3 {
        &::before {
          background: url('../img/sections/what-includes/what-includes-bg-v3.webp')
            center center no-repeat;
          background-size: cover;
        }
      }
      .what-includes-swiper {
        &__icon {
          width: 12rem;
          height: 12rem;
          img {
            width: 6.4rem;
            height: 6.4rem;
          }
        }
        &__text {
          padding: 1.6rem 4.8rem;
        }
      }
    }
  }
}
