<div class="accordion-range-price-box">
  <div class="accordion-range-box">
    <button class="range-btn range-btn-minus _disactive"></button>
    <input
      type="text"
      class="range-value setup--text-24px"
      value="0"
      data-max-count="20"
    />
    <button class="range-btn range-btn-plus"></button>
  </div>
  <div class="accordion-price-box">
    <p class="accordion-price-box__product setup--text-24px">
      Базовая поддержка сервера
    </p>
    <div class="accordion-price-box__line"></div>
    <p class="accordion-price-box__price setup--text-24px">500 ₽</p>
  </div>
</div>
