<div class="component--advantages advantages">
  <div class="advantages__background">
    <svg
      class="advantages__background--desktop"
      xmlns="http://www.w3.org/2000/svg"
      width="535"
      height="565"
      viewBox="0 0 537 567"
      fill="none"
    >
      <path
        d="M41 564H494C516.091 564 534 546.091 534 524V182.569C534 171.96 529.786 161.786 522.284 154.284L380.716 12.7157C373.214 5.21428 363.04 1 352.431 1H41C18.9086 1 1 18.9086 1 41V524C1 546.091 18.9086 564 41 564Z"
        fill="#EAEAEA"
        stroke="#03A081"
        stroke-width="2"
      />
    </svg>
    <svg
      class="advantages__background--mobile"
      xmlns="http://www.w3.org/2000/svg"
      width="290"
      height="287"
      viewBox="0 0 290 287"
      fill="none"
    >
      <path
        d="M21 286H269C280.046 286 289 277.046 289 266V80.1839C289 74.8711 286.886 69.7765 283.125 66.0244L223.795 6.84046C220.046 3.10038 214.966 1 209.67 1H21C9.9543 1 1 9.9543 1 21V266C1 277.046 9.9543 286 21 286Z"
        fill="#EAEAEA"
        stroke="#03A081"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="advantages__numbering">
    <p class="advantages__numbering-number">3</p>
  </div>
  <div class="advantages__content">
    <p class="advantages__text setup--text-24px">
      Мы умеем разрабатывать индивидуальные решения, соответствующие
      потребностям<br/>и бюджету каждого клиента.
    </p>
    <div class="advantages__categories categories">
      <div class="categories__large-panel"></div>
      <div class="categories__small-panel"></div>
      <p class="categories__text setup--h3">Оптимизация</p>
    </div>
  </div>
</div>
