<div class="component--articles articles @@type">
  <div class="articles__background">
    <svg
      class="articles__background--desktop"
      width="535"
      height="476"
      viewBox="0 0 537 478"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M534 435V41C534 18.9086 516.091 1 494 1H290.947C280.29 1 270.073 5.25284 262.564 12.815L233.94 41.6403C226.431 49.2024 216.214 53.4552 205.557 53.4552H183.797C173.14 53.4552 162.924 49.2024 155.414 41.6403L126.79 12.815C119.281 5.25283 109.064 1 98.407 1H41C18.9086 1 1 18.9086 1 41V435C1 457.091 18.9086 475 41 475H494C516.091 475 534 457.091 534 435Z"
        stroke="#03A081"
        stroke-width="2"
      />
    </svg>
    <svg
      class="articles__background--mobile"
      xmlns="http://www.w3.org/2000/svg"
      width="291"
      height="312"
      viewBox="0 0 293 314"
      fill="none"
    >
      <path
        d="M290 291V21C290 9.9543 281.046 1 270 1H161.228C155.897 1 150.787 3.12812 147.032 6.91188L125.05 29.0623C121.295 32.8461 116.185 34.9742 110.854 34.9742H91.8724C86.5416 34.9742 81.4315 32.8461 77.6764 29.0623L55.6942 6.91187C51.9392 3.12812 46.829 1 41.4983 1H21C9.95432 1 1 9.9543 1 21V291C1 302.046 9.95432 311 21 311H145.5H270C281.046 311 290 302.046 290 291Z"
        stroke="#03A081"
        stroke-width="1.29456"
      />
    </svg>
    <svg
      class="articles__background--grid"
      xmlns="http://www.w3.org/2000/svg"
      width="355"
      height="298"
      viewBox="0 0 357 300"
      fill="none"
    >
      <path
        d="M354 278V20C354 9.50659 345.493 1 335 1H160.228C155.164 1 150.309 3.02172 146.742 6.61628L124.76 28.7667C120.817 32.7397 115.451 34.9742 109.854 34.9742H90.8723C85.2751 34.9742 79.9094 32.7396 75.9666 28.7667L53.9844 6.61628C50.4172 3.02172 45.5625 1 40.4983 1H20C9.50659 1 1 9.5066 1 20V278C1 288.493 9.50659 297 20 297H144.5H335C345.493 297 354 288.493 354 278Z"
        stroke="#03A081"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="articles__content content">
    <div class="content__top top">
      <div class="top-left">
        <div class="content__icon">
          <svg>
            <use xlink:href="@img/sprite.svg#book"></use>
          </svg>
        </div>
      </div>
      <div class="top-right">
        <div class="content__image">
          <img src="" alt="" />
        </div>
        <div class="content__time time">
          <div class="time-value">14 минут <span>на прочтение</span></div>
          <div class="time-icon">
            <svg>
              <use xlink:href="@img/sprite.svg#timer"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="content__bottom">
      <div class="content__date setup--text-18px">02.08.2023</div>
      <p class="content__title setup--h3">
        Основные принципы безопасности серверной инфраструктуры
      </p>
    </div>
  </div>
  <div class="articles__content content _hover">
    <div class="content-top">
      <div class="content__icon">
        <svg>
          <use xlink:href="@img/sprite.svg#arrowline"></use>
        </svg>
      </div>
    </div>
    <div class="content-bottom">
      <p class="content__title setup--h3">
        Основные принципы безопасности серверной инфраструктуры
      </p>
      <p class="content__text setup--text-18px">
        Ключевые меры и стратегии по обеспечению безопасности серверов и данных.
        Рекомендации по защите от вредоносных атак, управлению доступами и
        шифрованию данных. Ключевые меры и стратегии по обеспечению безопасности
        серверов и данных.
      </p>
    </div>
  </div>
  <div class="articles__numbering">
    <p class="setup--h2">4</p>
  </div>
</div>
