<div class="component--reviews reviews _v1">
  <div class="reviews__content">
    <div class="reviews__inner">
      <p class="reviews__title setup--text-24px">
        Ваша команда всегда<br />готова решить даже самые сложные технические
        задачи.
      </p>
      <div class="reviews__texts">
        <p class="reviews__text setup--text-18px setup--grey">
          Ваша IT поддержка действительно высокого класса. Спасибо за
          надежность, оперативность и экспертные знания. С вами мы чувствуем,
          что наша IT инфраструктура в надежных руках.
        </p>
        @@include('../components/textButtonWithArrow.html', { text:"Читать все",
        type:"type-green"})
      </div>
    </div>
    <div class="reviews__data">
      <div class="reviews__user">
        <p class="reviews__user-name setup--text-18px">Наталья</p>
        <div class="reviews__user-date setup--text-18px setup--grey">
          29.07.2023
        </div>
      </div>
      <div class="reviews__site">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="reviews__btn">
    @@include('../components/greenButtonWithArrow.html', { text:"Источник" })
  </div>
</div>
