.accordion-price {
  display: flex;
  align-items: flex-end;
  gap: 1.4rem;
  &__line {
    flex: 1 0;
    width: 100%;
    border-bottom: 1px solid rgba(119, 119, 119, 0.35);
    margin-bottom: 0.6rem;
  }
}
@media (max-width: 48em) {
  .accordion-price {
    gap: 1.2rem;
    &__line {
      margin-bottom: 0;
    }
  }
}


