.header {
  padding-top: 5rem;
  margin-bottom: 6rem;
  position: relative;
  z-index: 100;
  &._detail-services {
    margin-bottom: 3rem;
  }
  &._services {
    margin-bottom: 4.2rem;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
  }
  &__logotype {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    .logotype {
      width: 20.9rem;
      height: 6rem;
    }
  }
  &__menu {
    display: flex;
    gap: 5rem;
    .menu {
      &__item {
        cursor: pointer;
        overflow: hidden;
        &:hover {
          .menu__link {
            transform: translateY(-4rem);
            transition: transform 0.25s ease-in-out;
            &::before {
              transform: translateY(0rem);
            }
          }
        }
      }
      &__link {
        display: inline-block;
        transition: transform 0.25s ease-in-out;
        position: relative;
        &::before {
          content: attr(data-hover);
          position: absolute;
          top: 4rem;
          left: 0;
          color: $green-color;
          text-decoration: underline;
          transform: translateY(4rem);
          transition: transform 0.25s ease-in-out;
        }
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    .socials {
      &__phone {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-right: 2rem;
        cursor: pointer;
      }
      &__links {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
        .link {
          width: 6rem;
          height: 6rem;
          cursor: pointer;
        }
      }
    }
  }
  &__burger {
    display: none;
    &-content {
      display: none;
    }
  }
}

@media (max-width: 48em) {
  .header {
    padding-top: 3rem;
    margin-bottom: 3.6rem;
    background-color: #eaeaea;
    &__menu {
      display: none;
      &._burger {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
      .menu {
        &__item {
          pointer-events: none;
          padding: 3.6rem 0;
          border-top: 1px solid rgba(119, 119, 119, 0.1);
          &:last-child {
            border-bottom: 1px solid rgba(119, 119, 119, 0.1);
          }
        }
      }
    }
    &__socials {
      display: none;
      &._burger {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8rem;
        margin-top: 8rem;
      }
      .socials {
        &__links {
          margin-left: 0;
          gap: 2rem;
          .link {
            width: 10rem;
            height: 10rem;
          }
        }
      }
    }
    &__burger {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 6rem;
      height: 4rem;
      &-content {
        display: block;
      }
      &._open {
        &::before {
          top: 2rem;
          transform: rotate(45deg);
          transition: top 0.15s, transform 0.15s 0.15s linear;
        }
        &::after {
          bottom: 1.6rem;
          transform: rotate(-45deg);
          transition: bottom 0.15s, transform 0.15s 0.15s linear;
        }
        span {
          display: none;
          transition: all 0.15s 0.15s linear;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.4rem;
        border-radius: 1rem;
        background-color: $black-color;
        transition: transform 0.15s, top 0.15s 0.15s linear;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.4rem;
        border-radius: 1rem;
        background-color: $black-color;
        transition: transform 0.15s, bottom 0.15s 0.15s linear;
      }
      span {
        display: inlile-block;
        width: 100%;
        height: 0.4rem;
        border-radius: 1rem;
        background-color: $black-color;
        transition: all 0.15s linear;
      }
      &-content {
        position: fixed;
        top: 9rem;
        left: -100%;
        width: 100%;
        min-height: 100%;
        padding: 2rem;
        padding-top: 4.6rem;
        background-color: #eaeaea;
        &._show {
          left: 0;
          transition: all 0.15s linear;
        }
      }
    }
  }
}
