.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  margin: 0 !important;
  &::after {
    display: none;
  }
}

.swiper-button-next {
  &.btn-next {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1.5px solid $green-color;
    background-color: $green-color;
    & > svg {
      width: 3rem;
      height: 3rem;
      transform: rotate(-90deg);
      fill: $white-color;
    }
  }
  &.swiper-button-disabled.btn-next {
    opacity: 1;
    background-color: transparent;
    & > svg {
      fill: $green-color;
    }
  }
}
@media (max-width: 48em) {
  .swiper-button-next {
    &.btn-next {
      width: 8rem;
      height: 8rem;
      & > svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

.swiper-button-prev {
  &.btn-prev {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1.5px solid $green-color;
    background-color: $green-color;
    & > svg {
      width: 3rem;
      height: 3rem;
      transform: rotate(90deg);
      fill: $white-color;
    }
  }
  &.swiper-button-disabled.btn-prev {
    opacity: 1;
    background-color: transparent;
    & > svg {
      fill: $green-color;
    }
  }
}
@media (max-width: 48em) {
  .swiper-button-prev {
    &.btn-prev {
      width: 8rem;
      height: 8rem;
      & > svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

// our-articles-swiper
.swiper {
  &-slide {
    &.our-articles-slide {
      width: 53.3rem;
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.our-articles-swiper {
      padding: 0 2rem;
    }
    &-slide {
      &.our-articles-slide {
        width: 57.8rem;
      }
    }
  }
}

// our-teams-swiper
.swiper {
  &-slide {
    &.our-teams-slide {
      width: 53.3rem;
      margin-right: 4rem;
      padding-bottom: 5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.our-teams-swiper {
      padding: 0 2rem;
    }
    &-slide {
      &.our-teams-slide {
        width: 58rem;
      }
    }
  }
}

// our-letters-swiper
.swiper {
  &-slide {
    &.our-letters-slide {
      width: 53.3rem;
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.our-letters-swiper {
      padding: 0 2rem;
    }
    &-slide {
      &.our-letters-slide {
        width: 57.6rem;
      }
    }
  }
}

// grid-articles-swiper
.swiper {
  &.grid-articles-swiper {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
    }
  }
  &-slide {
    &.grid-articles-slide {
      width: 53.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.grid-articles-swiper {
      .swiper-wrapper {
        grid-template-rows: repeat(4, auto);
      }
    }
    &-slide {
      &.grid-articles-slide {
        width: 57.6rem;
      }
    }
  }
}

// grid-teams-swiper
.swiper {
  &.grid-teams-swiper {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
    }
  }
  &-slide {
    &.grid-teams-slide {
      width: 53.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.grid-teams-swiper {
      .swiper-wrapper {
        grid-template-rows: repeat(5, auto);
      }
    }
    &-slide {
      &.grid-teams-slide {
        width: 57.6rem;
        height: fit-content;
      }
    }
  }
}

// grid-reviews-swiper
.swiper {
  &.grid-reviews-swiper {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-auto-flow: column;
    }
  }
  &-slide {
    &.grid-reviews-slide {
      width: 53.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.grid-reviews-swiper {
      .swiper-wrapper {
        grid-template-rows: repeat(1, auto);
      }
    }
    &.grid-reviews-swiper {
      padding: 0 2rem;
    }
    &-slide {
      &.grid-reviews-slide {
        width: 57.6rem;
      }
    }
  }
}

// basic-direction-swiper
.swiper {
  &-slide {
    &.basic-direction-slide {
      width: 53.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.basic-direction-swiper {
      padding: 0 2rem;
    }
    &-slide {
      &.basic-direction-slide {
        width: 57.6rem;
      }
    }
  }
}

// completing-tasks-swiper
.swiper {
  &.completing-tasks-swiper {
    margin-top: 2rem;
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
    }
  }
  &-slide {
    &.completing-tasks-slide {
      width: 53.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.completing-tasks-swiper {
      margin-top: 0;
      .swiper-wrapper {
        grid-template-rows: repeat(1, auto);
      }
    }
    &.completing-tasks-swiper {
      // padding: 0 2rem;
    }
    &-slide {
      &.completing-tasks-slide {
        width: 57.6rem;
      }
    }
  }
}

// providing-solutions-swiper
.swiper {
  &.providing-solutions-swiper {
    height: 100%;
  }
  &-slide {
    &.providing-solutions-slide {
      &.swiper-slide {
        transform: translateY(12.5rem);
        transition: transform 0.5s ease-in-out;
      }
      &.swiper-slide-active {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}
@media (max-width: 48em) {
  .swiper {
    &.providing-solutions-swiper {
      margin-bottom: 8rem;
    }
    &-slide {
      &.providing-solutions-slide {
        width: 58rem;
        &.swiper-slide {
          transform: translateY(0);
        }
      }
    }
  }
}

.swiper {
  &.baner-services-swiper {
    width: 100%;
    height: 100%;
  }
  // &-slide {
  //   &.baner-services-slide {
  //     opacity: 0;
  //     transition: opacity 1s 0s ease-in-out;
  //     &.swiper-slide-active {
  //       opacity: 1;
  //       transition: opacity 1s 0.5s ease-in-out;
  //     }
  //     &:nth-child(2) {
  //       padding-top: 11rem;
  //     }
  //     &:nth-child(3) {
  //       padding-top: 22rem;
  //     }
  //   }
  // }
  // &-pagination {
  //   &.baner-services-pagination {
  //     top: 0 !important;
  //     left: 0 !important;
  //     right: 0 !important;
  //     transform: none !important;
  //   }
  // }
}
@media (max-width: 48em) {
  .swiper {
    &-slide {
      &.baner-services-slide {
        width: 58rem;
        // &:nth-child(2) {
        //   padding-top: 0;
        // }
        // &:nth-child(3) {
        //   padding-top: 0;
        // }
      }
    }
  }
}

// what-includes-swiper
@media (max-width: 48em) {
  .swiper {
    &-slide {
      &.what-includes-slide {
        width: 58rem;
      }
    }
  }
}
